
  @import url('https://fonts.googleapis.com/css2?family=Phudu&display=swap');
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Phudu',sans-serif;
    font-size: 10px;
    background: url(/images/background.jpg)
}
#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 10px solid rgb(161, 141, 157);
    width: 300px;
    height: 350px;
    margin-top: 35px;
    text-align: center;
    border-radius: 15px;
    font-size: 20px;
}

#container p{
    margin: 0px;
}
#buttonForFood,#buttonForHappiness{
    border: 3px solid goldenrod;
    background-color: blueviolet;
    margin-top: 5px;
    font-size: 20px;
    color: antiquewhite;
    cursor: pointer;
}

#buttonForFood:hover,#buttonForHappiness:hover{
  background-color: black;
  border: 3px solid yellow;
}

#img{
    width: 100px;
}

.Bear{
    background-color: aqua;
}

.Monkey{
  background-color: white;
}

.Goat{
  background-color: orange;
}

form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    padding: 30px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;

  }
  
  label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333333;
  }
  
  input[type="text"],
  select {
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
    font-size: 16px;
    color: #333333;
    margin-left: 10px;
  }
  
  input[type="text"]:focus,
  input[type="email"]:focus,
  select:focus {
    outline: none;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.4);
  }
  
  button {
    background-color: #5f9ea0;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    transition: all 0.3s ease;
    
  }
  
  button:hover {
    background-color: #4169e1;
  }
  
  @media (max-width: 600px) {
    form {
      padding: 20px;
    }
  }

  #buttonForFood:disabled {
    opacity: 0.6; 
    cursor: not-allowed; 
    box-shadow: 0 1px 2px rgba(0,0,0,0.3); 
  }

  #buttonForHappiness:disabled {
    opacity: 0.6; 
    cursor: not-allowed; 
    box-shadow: 0 1px 2px rgba(0,0,0,0.3); 
  }
  
  h1{
    background-color: aliceblue;
  }
  
  